ion-header ion-toolbar ion-title {
    .logo {
        width: auto;
        max-width: 135px;
        min-width: 135px;
    }

    h4 {
        height: 27px;
        line-height: 27px;
        font-size: .73rem;
        font-weight: 400;
        padding: 0 13px;
        background: #3D3F46;
        border-radius: 50px;
        margin: 0;
        min-width: 120px;

        ion-icon {
            position: relative;
            top: 2px;
            min-width: 19px;
            font-size: .8rem;
        }
    }

}

.buy_this_app {
    background: var(--primary);
    position: relative;
    border-radius: 50px;
    height: 37px;
    display: flex;
    align-items: center;
    min-width: 136px;
    z-index: 99999;
    margin: 0 14px;
    width: fit-content;

    h2 {
        color: var(--white);
        display: flex;
        align-items: center;
        margin: auto;
        width: fit-content;
        font-size: .8rem;
        font-weight: 500;
        padding: 0;

        ion-icon {
            font-size: 1rem;
            min-width: 25px;
        }
    }
}

.select_language_icon {
    margin: 0 13px !important;

    ion-icon {
        font-size: 1.5rem;
        position: relative;
        top: 7px;
    }
}

.order_container {
    padding: 12px 11px;
    column-count: 4;
    column-gap: 10px;

    .order {
        display: inline-block;
        width: 100%;
        margin-bottom: 35px;

        .order_inner {
            background: var(--secondary);
            position: relative;
            width: 100%;
            padding-bottom: 10px;

            .order_header {
                background: var(--primary);
                color: var(--white);
                padding: 13px 13px;
                margin-bottom: 15px;

                h2 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 500;
                }

            }

            .item {
                color: var(--white);
                display: flex;
                align-items: flex-start;
                padding: 10px 13px;
                width: 100%;

                h3 {
                    margin: 0;
                    font-weight: 400;
                    font-size: .9rem;
                    min-width: 20px;
                    line-height: 15px;

                }

                h4 {
                    margin: 0;
                    font-size: 0.8rem;
                    font-weight: 500;
                    letter-spacing: .5px;

                    span {
                        display: block;
                        font-weight: 400;
                        padding-top: 7px;
                        font-size: 0.75rem;
                    }
                }

                &.order_done {
                    text-decoration: line-through;
                    color: var(--text-dark);
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -14px;
                left: 0;
                width: 100%;
                height: 14px;
                background: url('../../assets/images/card_zigzag.png');
                background-size: 209px;
                background-repeat: no-repeat;
                background-repeat: repeat-x;
            }
        }

        &.active2 {
            .order_inner {
                .order_header {
                    background: var(--yelow_color);
                }
            }
        }

        &.active1 {
            .order_inner {
                .order_header {
                    background: var(--red_color);
                }
            }
        }
    }
}


@media (max-width:600px) {
    .order_container {
        column-count: 3;
    }
}

@media (max-width: 550px) {
    ion-header ion-toolbar ion-title {
        .logo {
            max-width: 120px;
            min-width: 120px;
        }
    }
}

@media (max-width:500px) {
    .order_container {
        column-count: 2;
    }
}

@media (max-width:375px) {
    .order_container {
        column-count: 1;
    }
}